# Ignore everything, except src/tools/ci/
#
# cirrus-ci uses the whole repository as context when building dockerfiles,
# and the dockerfiles should not reference anything outside of src/tools/ci/
*
!src/tools/ci/*
